STM32_mcu_usb-B_Cu.pdf
STM32_mcu_usb-B_Mask.pdf
STM32_mcu_usb-B_Paste.pdf
STM32_mcu_usb-B_Silkscreen.pdf
STM32_mcu_usb-Edge_Cuts.pdf
STM32_mcu_usb-F_Cu.pdf
STM32_mcu_usb-F_Mask.pdf
STM32_mcu_usb-F_Paste.pdf
STM32_mcu_usb-F_Silkscreen.pdf
STM32_mcu_usb-In1_Cu.pdf
STM32_mcu_usb-In2_Cu.pdf
STM32_mcu_usb-backups/
STM32_mcu_usb.kicad_prl
STM32_mcu_usb.kicad_pro
STM32_mcu_usb.pdf
board2pdf.config.ini
fp-info-cache
plots/
~STM32_mcu_usb.kicad_pcb.lck
~STM32_mcu_usb.kicad_sch.lck
